html,body{
	height: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
		height: 100%;
}
.header {
  height: 65px;
  background-color: #D4F4FA;
}

.content {
    display: flex;
    flex: 1;
}
.aside {
    display: flex;
    flex: none;
    width: 200px;
    background-color: #bfbab078;
}
.main{
    display: flex;
    flex: 1;
    overflow: auto;
}
.aside_list:link { color: blue; text-decoration: none; font-weight: bold}
.aside_list:visited { color: blue; text-decoration: none; font-weight: bold}
.aside_list:hover { color: red; text-decoration: underline; font-weight: bold}
.aside_list:active { color: white; background-color: green; font-weight: bold}
